//functions
@function lighten-color($color, $amount) {
  @return lighten($color, $amount);
}

//mixins
@mixin make-container($width: 100%, $height: auto, $padding: 2rem 1.5rem, $margin-bottom: 2rem, $container-bg: white, $border-radius: 1rem) {
  width: $width;
  height: $height;
  padding: $padding;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: $margin-bottom;
  background-color: $container-bg;
  border-radius: $border-radius;
}

@mixin responsive-container {
  @media (max-width: 768px) {
    width: 100%;
    height: auto;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

@mixin hover-effect($translateY: -5px, $shadow-range:7px 7px 10px 3px,  $shadow-color: $lighter-shadow) {
  &:hover {
    transform: translateY($translateY);
    box-shadow: $shadow-range $shadow-color;
  }
}


//variables
$background1: #f8b196;
$background2: #f67280;
$background3: #c06c84;
$container-shadow: #335c7d;
$lighter-shadow: lighten-color($container-shadow, 10%);


//scss
body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background: linear-gradient(90deg, $background1 0%, $background2 50%, $background3 100%);
}

.container {
  @include make-container(45%, auto, 0.5rem 0.1rem, 0rem, $background1, 1rem);
  box-shadow: 1px 1px 10px 10px $container-shadow;
}

#searchable-dropdown {
    margin: 2rem auto;
}

#most-viewed-cities {
    margin: 4.5rem auto;
}

#img-current {
    width: 50%;
    height: auto;
}

#editor-container, #preview-container {
  @include make-container(45%, auto, 0.5rem 0.1rem, 0rem, $background3, 1rem);
  @include responsive-container;
  @include hover-effect();
  box-shadow: 5px 5px 10px 1px $lighter-shadow;
  transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;

  }
  
#editor, #preview {
  @include make-container(100%, 95%, 1rem, 1rem, #fff, 1rem);
  @include responsive-container;
  background-color: lighten-color($background3, 35%);
}

h1 {
  font-size: clamp(1.5rem, 4vw, 2rem);
  padding: 0.1rem 1rem;
}

#preview img {
  max-width: 100%;
  height: auto;
}

.social-icons {
  @include make-container(50%, auto, 0rem, 1rem, transparent, 0rem);
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  
  a {
    font-size: 1rem;
    color: $background1;
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    
    @include hover-effect($translateY: -5px, $shadow-range: 0px,  $shadow-color: $lighter-shadow);

    &:hover {
      color: lighten-color($background3, 20%);
    }
  }
}